@media (max-width: 600px) {
    .content {
        color: white;
        background-color: rgba(0, 0, 0, 0.7);
    }
    header {
        height: 400px;
        
    }
    nav {
        border-bottom: 1px solid white;
    }
    header, .mag {
        font-family: 'Courgette';
    }
    .mag img {
        height: 70px;
    }
    .top-section {
        background-image: url("../img/header.jpg");
        background-position: center;
    }


}