@media (max-width: 600px) {
    header {
        height: 600px;
    }
    nav {
        border-bottom: 1px solid white;
    }
    header, .mag {
        font-family: 'Courgette';
    }

    .mag {
        position: absolute;
        text-align: center;
    }
    .mag img {
        display: flex;
        justify-content: center;
        height: 100px;
        width: 100px;
        position: relative;
        left: 190px;
    }
    .top-section {
        position: relative;
        background-image: url("/img/header.jpg");
        background-position: center;
    }
    .content {
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
    }
}